/* layout */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.h2 {
    text-align: center;
}

body {
    text-align: center;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    color: var(--color);
    background-color: var(--background);
}

.Main {
    color: var(--color);
    background-color: var(--background);
    min-height: 100vh;
}